*.exe
*.dll
*.bin
*.out
*.so
*.v8
*.v8.bin
*.lib
*.pyc
*.pyd
*.png
*.jpeg
*.jfif
*.pri
*.pdb
*.xbf
*.suo
*.vsidx
*.v2
*.zip
*.properties
*.flata
*.stamp
*.cache
*.msi
*.appx
*.jar
*.java
*.swift
*.obj
*.temp
*.tmp
*.pfx
*.txt
*.pvk
*.cer
setupc.py
AndroidManifest.xml
Build
Debug
.vs\ProjectEvaluation\
bin
obj
cache
temp
__pycache__

# Work in Progress Files
log4net.conf
