*.exe
*.dll
*.pyc
*.pyd
*.png
*.jpeg
*.jfif
*.pri
*.pdb
*.xbf
*.suo
*.vsidx
*.v2
*.txt
*.zip
*.properties
*.flata
*.stamp
*.cache
*.msi
*.appx
*.jar
*.java
*.swift
*.obj
*.temp
*.tmp
Build
Debug
bin
cache
temp
__pycache__
