*.exe
*.dll
*.bin
*.out
*.so
*.v8
*.v8.bin
*.lib
*.pyc
*.pyd
*.png
*.jpeg
*.jfif
*.pri
*.pdb
*.xbf
*.suo
*.vsidx
*.v2
*.txt
*.zip
*.properties
*.flata
*.stamp
*.cache
*.msi
*.appx
*.jar
*.java
*.swift
*.obj
*.temp
*.tmp
setupc.py
Build
Debug
.vs\ProjectEvaluation\
bin
cache
temp
__pycache__
